# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# ==============================
# VSCode
# ==============================
.vscode/

# ==============================
# Flask / Django / Web Projects
# ==============================
instance/
*.db
*.sqlite3
*.sqlite

# ==============================
# Logs & Caches
# ==============================
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.pid
*.gz
*.egg-info/
*.egg

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Environment / Credentials
# ==============================
.env
.env.local
.env.*.local

# ==============================
# Static / Build Files
# ==============================
staticfiles/
dist/
build/
node_modules/
